@import url(./node_modules/bootstrap/scss/bootstrap.scss);

html { 
      
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    box-sizing: content-box;
     
}


.header {
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.65);
    z-index: 0;
}
.hvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}
.tit {
     position: relative ;
     color: rgb(169, 214, 250);
     
}

.main {
    width: 100%;
    height: 100vh;
    background-color: beige;
    border: 1px solid red;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: beige;
    border: 1px solid red;
}

