@import url(./node_modules/bootstrap/scss/bootstrap.scss);

// HTML Y BODY
html { 
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    box-sizing: content-box;
}
// HEADER
.header {
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.65);
    z-index: 0;
}
.navbar {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1 !important;
    position: fixed;
    text-align: center !important;
    width: 100% !important;
    transition: 0.3s ease-in-out;
}
.nav-active {
    background-color:rgb(0, 0, 0);
}
.navbar-nav {
    display: flex;
    justify-content: space-evenly !important;
    width: 100%;
}
.flags {
    display: flex;
    flex-direction: row;
    width: 80px;
}
#boton1 {
    // margin-top: 1px;
    margin: 2px;
    margin-right: 15px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 0, 0, 0);
}
#boton2{
    // margin-top: 1px;
    margin: 2px;
    margin-right: 15px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 0, 0, 0);
}
.flag {
    border-radius: 25% 25% 25% 25%;
}
.hvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.tit {
    position: relative ;
    color: rgb(169, 214, 250);     
}

// MAIN
.main {
    width: 100%;
    min-height: 100vh;  
}
// subtitulos
.subtit {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// barra divisoria
.bar {
    width: 220px;
    height: 5px;
    background-color: black;
    display: block;
    margin-bottom: 30px;
}

//SERVICIOS
.SERV {
    margin-bottom: 5em;
    margin-top: 4em;
}
.serv_desc {
    width: 40%;
}
.s_img_demo {
    width: 100px;
    height: 100px;
}

//CCTP
.CCTP {

}

// NOSOTROS 
.NOSOTROS {

}
.equipo {
    opacity: 0;
    transition: all 0.7s;
}
.mostrarArriba {
    animation: mostrarArrriba 1s;
}
@keyframes mostrarArrriba {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateX(0);
    }
}
.col_img{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    // position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
}
.btn_img {
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.c_front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
}
.c_f_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
    display: block;
    border: 5px solid salmon;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}
.fade {
    width: 100%;
    height: 100%;
}
.modal-content{
    width: 100%;
}

// PROYECTOS
.PROYECTOS {

}
.p_col .card {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: relative;
    margin-top: 3em;
    margin-bottom: 4em;
}

// PORQUE TRABAJAR CON NOSOTROS
.PTCN {
    
}

//FOOTER
.footer {
    width: 100%;
    height: 100%;
    background-color: rgb(81, 152, 199);
}
.f_main {
    display: flex;
    width: 100%;
    min-height: calc(370px - 30px);
    justify-content: space-evenly;
}
.redes {
    width: 500px;
}
// TECNOLOGIAS
.TECNOLOGIAS {

}
.f_r_col {
    width: 100%;
}

// FORMULARIO
.formulario {
    width: 500px;
}
// BRAND
.brand {
    width: 100%;
    height: 30px;
    background-color: rgb(24, 24, 24);
    color: rgb(151, 151, 151);
}












.subtit::before {
    display: block;
    content: " ";
    margin-top: 60px;
    height: 60px;
    visibility: hidden;
}