@import url(./node_modules/bootstrap/scss/bootstrap.scss);
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  z-index: 1 !important;
  position: fixed;
  text-align: center !important;
  width: 100% !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: black;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  width: 100%;
}

.hvid {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.tit {
  position: relative;
  color: #a9d6fa;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.subtit {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar {
  width: 220px;
  height: 5px;
  background-color: black;
  display: block;
}

.au {
  width: 40%;
}

.serv {
  margin-bottom: 5em;
  margin-top: 4em;
}

.s_img_demo {
  width: 100px;
  height: 100px;
}

.col_img {
  margin-top: 2%;
  margin-bottom: 10%;
  margin-left: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.btn_img {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.c_front {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
}

.c_f_img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin: auto;
  display: block;
  border: 5px solid salmon;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.col_img:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.c_back {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border: 5px solid springgreen;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 100%;
}

.c_back h2 p {
  border: 1px solid green;
}

#Cami {
  background-color: black;
  z-index: -1;
}

#Nico {
  background-color: brown;
}

#Frane {
  background-color: saddlebrown;
}

#Facu {
  background-color: rgba(0, 0, 0, 0.65);
}

.p_col .card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: relative;
  margin-top: 3em;
  margin-bottom: 4em;
}

.footer {
  width: 100%;
  height: 370px;
  background-color: #5198c7;
}

.f_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: calc(350px - 30px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.redes {
  width: 500px;
}

.f_r_col {
  width: 100%;
}

.formulario {
  width: 500px;
}

.brand {
  width: 100%;
  height: 30px;
  background-color: black;
  color: aliceblue;
}

.fade {
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 100%;
}

#5cbca8
#079a9c
#036a9a
#28366c
.subtit::before {
  display: block;
  content: " ";
  margin-top: 60px;
  height: 60px;
  visibility: hidden;
}
/*# sourceMappingURL=styles.css.map */