@import url(./node_modules/bootstrap/scss/bootstrap.scss);

html { 
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    box-sizing: content-box;
}

.header {
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.65);
    z-index: 0;
}
.navbar {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1 !important;
    position: fixed;
    text-align: center Import !important;
    width: 100% !important;
    transition: 0.3s ease-in-out;
}
.nav-active {
    background-color:rgb(0, 0, 0);
}
.navbar-nav {
    justify-content: space-between !important;
}

.hvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.tit {
    position: relative ;
    color: rgb(169, 214, 250);     
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: beige;
    border: 1px solid red;
}
.subtit::before {
    display: block;
    content: " ";
    margin-top: 60px;
    height: 60px;
    visibility: hidden;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: beige;
    border: 1px solid red;
}


// Cards Cami , Nico , Fran y Facu
main {
    
  background: #1D1F20;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
}
.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.tarjeta-wrap{
margin: 10px;
-webkit-perspective: 800;
perspective: 800;
}

.tarjeta{
  
width: 300px;
height: 350px;
background: #F29720;
position: relative;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transition: .7s ease;
transition: .7s ease;
-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.adelante{
width: 100%;
}

.atras{
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);

padding: 15px;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;

text-align: center;
color: #fff;
font-family: "open sans";

}

.Cp{
  background-color: red;
}
.Nc{
  background-color: green;
}
.Fr{
  background-color: grey; 
}

.Fc{
  background-color: hotpink;
}


.tarjeta-wrap:hover .tarjeta{
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
} 




.card1 .Cami{

  background-repeat: no-repeat;
  object-fit: cover;

}

.card2 .Nico{

  background-repeat: no-repeat;
  object-fit: cover;

}

.card3 .Frane{

  background-repeat: no-repeat;
  object-fit: cover;

}

.card4 .Facu{

  background-repeat: no-repeat;
  object-fit: cover;

  
}
    

